@model Nameless_Store_2019.Cart

@{
    ViewBag.Title = "Product Details";
}

<h1>_____________________________________________My Cart_____</h1>

<div>
   <h4>Product Details</h4>
    <dl class="dl-horizontal">
        <h3>
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
        </h3>
        <h1>
            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>
        </h1>
    </dl>

    <dl class="dl-horizontal">
        <h3>
            <dt>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </dt>
        </h3>
        <h1>
            <dd>
                R$ @Html.DisplayFor(model => model.ProductPrice)
            </dd>
        </h1>
    </dl>
</div>


<h2>
    @Html.ActionLink("________________________________________Click Here to Back to My Cart____", "Index")
</h2>
<img src="~/images/My_cart.svg" alt="ASP.NET" class="img-responsive" />

