@model IEnumerable<MvcCart.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div class="row">
    <div class="col-md-3">
        <a class="btn btn-success" href="http://localhost:50157/Home/Thanks_for_your_Purchase">Finish purchase order</a>
    </div>
</div>